body{
    font-family: 'Lato',sans-serif;
    padding: 2%1;
    margin: 0;
}

nav{
    background-color: #F1F2EB;
    padding: 20px 50px;
    color:black
    
}
.navTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.search{
    display: flex;
    align-items: center;
    background-color: rgb(3, 3, 3);
    padding: 10px 20px;
    border-radius: 10px;
}

.searchInput{
    border: none;
    background-color: transparent;
    color: white;
}
.searchInput::placeholder{
    color: rgb(255, 255, 255);
    
}

.limitedOffer{
    font-size: 20px;
    border-bottom: 2px solid green;
    cursor: pointer;
}

.navBottom{
  display: flex;  
  align-items: center;
  justify-content: space-between;
}

.menuItem{
    cursor: pointer;
    color:black;
    font-weight: 400;
}

.slider{
    margin-left: 250px;
    margin-top: 40px;
}

.buyButton{
    
    top: 50%;
    left: 10%;
    font-size: 30px;
    font-weight: 900;
    color: rgb(168, 27, 27);
    border: 1px solid gray;
    z-index: 1;
    cursor: pointer;
    
}

.buyButton.buyButton:hover{
    background-color: rgb(174, 98, 98);
    color: rgb(168, 27, 27);
}


.voorwoord{
    margin-top: 50px;
    text-align: center;
}

a{
    color: black;
    text-decoration: none;
}


.sliderWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sliderItem {
    flex: 0 0 calc(33.33% - 10px);
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .sliderWrapper {
        flex-direction: column;
    }

    .sliderItem {
        flex: 0 0 100%;
        margin-bottom: 20px;
    }
}


