body{
    font-family: 'lato', sans-serif;
    font-weight: bold;
    margin: 0;
}

nav{
    background-color: #F1F2EB;
    padding: 20px 50px;
    color:black
    
}
.navTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.search{
    display: flex;
    align-items: center;
    background-color: rgb(3, 3, 3);
    padding: 10px 20px;
    border-radius: 10px;
}

.searchInput{
    border: none;
    background-color: transparent;
    color: white;
}
.searchInput::placeholder{
    color: rgb(255, 255, 255);
    
}

.limitedOffer{
    font-size: 20px;
    border-bottom: 2px solid green;
    cursor: pointer;
}

.navBottom{
  display: flex;  
  align-items: center;
  justify-content: space-between;
}

.menuItem{
    cursor: pointer;
    color:black;
    font-weight: 400;
}

.slider{
    margin-top: 40px;
}

.buyButton{
    
    top: 50%;
    left: 10%;
    font-size: 30px;
    font-weight: 900;
    color: rgb(168, 27, 27);
    border: 1px solid gray;
    z-index: 1;
    cursor: pointer;
    
}

.buyButton.buyButton:hover{
    background-color: rgb(174, 98, 98);
    color: rgb(168, 27, 27);
}


.voorwoord{
    margin-top: 50px;
    text-align: center;
}

a{
    color: black;
    text-decoration: none;
}
.sliderWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sliderRow {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.sliderItem {
    flex: 0 0 calc(33.33% - 20px);
    text-align: center;
    margin-bottom: 20px;
}

.sliderImg {
    max-width: 100%;
    height: auto;
}

.sliderTitel {
    font-size: 16px;
    margin-top: 10px;
}

.sliderPrice {
    font-size: 14px;
    margin-top: 5px;
}

.buyButton {
    font-size: 14px;
    padding: 5px 10px;
    color: rgb(168, 27, 27);
    border: 1px solid gray;
    cursor: pointer;
    z-index: 1;
  
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .item {
    background-color: #ccc;
    padding: 20px;
    max-width: 100%;
  height: auto;
  }


@media screen and (max-width: 768px) {
    .container {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
  

